

/* 1400 - 2000px */
@media only screen and (max-width:2000px){

    body{
        background-color: hotpink;
    }

}

/* 1100 - 1400px */
@media only screen and (max-width:1400px) {

    body {
        background-color: lightblue;
    }

}

/* 900 - 1100px */
@media only screen and (max-width:1100px) {

    body {
        background-color: lawngreen;
    }

}

/* 0 - 900px */
@media only screen and (max-width:900px) {

    body {
        background-color: crimson;
    }

}